---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
  <title>Citizen Knowledge</title>
  <link>{{ "/" | url | absoluteUrl(metadata.siteUrl) if metadata is defined else "https://citizenknowledge.theperformanceofobedience.co.uk/" }}</link>
  <description>A companion record to The Performance of Obedience: ordinary news mapped against the book's argument that selective enforcement is how institutions actually operate.</description>
  <language>en-gb</language>
  {%- for post in collections.posts %}
  <item>
    <title>{{ post.data.title }}</title>
    <link>https://citizenknowledge.theperformanceofobedience.co.uk{{ post.url | url }}</link>
    <guid>https://citizenknowledge.theperformanceofobedience.co.uk{{ post.url | url }}</guid>
    <pubDate>{{ post.data.date.toUTCString() }}</pubDate>
    <description>{{ post.data.description }}</description>
  </item>
  {%- endfor %}
</channel>
</rss>
